.footer{
    font-family: $fuente-titulo;
    background-color: rgb(96 114 116 / 95%); // rgb(96, 114, 116) es el $color-oscuro1: #607274;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 6rem;

    &__p{
        font-size: 1.5rem;
    }

    &__p, &__a{
        margin: 0rem 2rem;
    }

    &__a:hover{
        @include animacionRotar;
    }

    &__p span{
        font-weight: bold;
    }

    &__a{
        width: 44px;
        height: 44px;
    }
}