.header{
    font-family: $fuente-titulo;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    // background-color: $color-oscuro1;
    background-color: rgb(96 114 116 / 95%);
    position: sticky;
    top: 0rem;
    z-index: 1000;

    .nav{
        font-size: 2rem;
        // flex: 1; Ocupa todo el espacio disponible en el header

        .cabecera{
            height: 8rem;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
    
            &__logo{
                text-align: left;
                margin: 0rem 2rem 0rem 0rem;
                width: 65px;
                height: 65px;

                &:hover{
                    @include animacionRotar;
                    // transform: rotate(-20deg);
                    // transition: transform .3s;
                }
            }
    
            &__titulo{
                font-size: 4rem;
                margin: 0rem;
                @include animacionLatido;
            }
        }

        .nav__ul{
            padding: 1rem 0rem;
            text-align: center;
            display: flex;
            justify-content: space-evenly;

            .nav__li{
                list-style: none;

                .nav__a{
                    white-space: nowrap;
                    // margin: 0rem 2rem;
                    color: white;
                    text-shadow: 0px 0px 6px rgba(0,0,0,1);
                    text-decoration: none;

                    &--actual{
                        text-decoration: underline;
                        color: black;
                        text-shadow: none;
                        font-weight: bold;
                    }

                    &:hover{
                        color: black;
                        font-weight: bold;
                        text-shadow: none;
                        transition: .3s;
                    }
                }
            }
        }
    }
}